@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="module" src="~/ShopClient/dist/assets/index.js"></script>
    <link rel="stylesheet" href="~/ShopClient/dist/assets/index.css">
    <title></title>
</head>
<body>
    <div id="app"></div>
</body>
</html>
